{% extends "layouts/default.twig" %}

{% block title %}Home{% endblock %}

{% block content %}
    <div class="container mx-auto  text-gray-800">
        {% set heroData = {"currentPage":"Home"} %}
        {% include './templates/hero.twig' with heroData %}

        <div>
            <div class="text-left mt-24">
                <div>
                    <p class="text-base mt-4 text-gray-800"><b>Middleware Data:</b></p>
                    <div class="bg-yellow-50 px-10 py-8 mt-4">
                        <code class="whitespace-pre">{{ middlewareData|json_encode(constant('JSON_PRETTY_PRINT')) }}</code>
                    </div>
                </div>
                <div>
                    <p class="text-base mt-8 text-gray-800"><b>Template Engine:</b></p>
                    <div class="bg-yellow-50 px-10 py-8 mt-4">
                        <code class="whitespace-pre">{{ templateEngine|json_encode(constant('JSON_PRETTY_PRINT')) }}</code>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

