{% extends "layouts/default.twig" %}

{% block title %}Home{% endblock %}
{% block content %}
    <div class="container mx-auto">
        <div class="my-64 text-center">
            <h1 class="text-7xl text-gray-800">Middle Framework</h1>
            <h1 class="text-base mt-4 text-gray-800"><b>Current Location:</b> Home Page</h1>
            <h1 class="text-base mt-4 text-gray-800"><b>Controller:</b> Home Page</h1>
        </div>
    </div>
{% endblock %}

