<footer class="fixed w-full bottom-0">
    <nav class="text-center flex flex-row justify-center items-center">
        <a class="px-3 py-2 text-blue-500 hover:underline" href="/">Home</a>
        <a class="px-3 py-2 text-blue-500 hover:underline" target="_blank" href="/https://github.com/dmtrbskkv/middle-framework">GitHub</a>
    </nav>
</footer>