<footer class="fixed w-full bottom-0">
    <nav class="text-center flex flex-row justify-center items-center">
        <a class="px-4 py-1 mx-2 mb-4 text-gray-50 font-normal bg-blue-400" target="_blank" href="https://github.com/dmtrbskkv/middle-framework">GitHub</a>
        <a class="px-4 py-1 mx-2 mb-4 text-gray-50 font-normal bg-red-400" target="_blank" href="https://github.com/dmtrbskkv/docker.middle-framework">Docker Compose for Framework</a>
    </nav>
</footer>