<div class="mt-56 text-center">
    <h1 class="text-7xl">Middle Framework</h1>
    <nav class="mt-4">
        <b>Nvigation:</b>
        <a class="mb-4 text-blue-600 font-normal" href="/">Home</a>
        <span>|</span>
        <a class="mb-4 text-blue-600 font-normal" href="/dashboard">Dashboard</a>
    </nav>
    <p class="text-base mt-4"><b>Current Location:</b> {{ currentPage }}</p>
</div>